{% load static %}
<link rel="stylesheet" href="{% static 'css/base/admin_templates/sidebar.css' %}">
<aside class="sidebar">
    <h2 class="sidebar-title">Admin</h2> <hr> <br>
    <nav class="sidebar-nav">
        <a href="{% url 'manager:home' %}">📊 Dashboard</a> 
        <a href="{% url 'manager:addproduct' %}">➕ Add Product</a> 
        <a href="{% url 'manager:alterproduct' %}">✏️ Edit Products</a> 
        <a href="{% url 'manager:vieworder' %}">🛒 Orders</a> 
        <a href="{% url 'manager:completedorder' %}">✅ Completed</a> 
    </nav>
    <div class="sidebar-footer">
        {% if user.is_authenticated %}
            <a href="{% url 'account:profile_admin' %}" class="user">{{ user.username|upper }}</a> 
            <a href="{% url 'account:logout' %}" class="logout">Logout</a>
        {% endif %}
    </div>
</aside>
<script src="{% static 'js/base/admin_templates/sidebar.js' %}"></script>
