{% load static %}
<link rel="stylesheet" href="{% static 'css/base/base_templates/footer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="..." crossorigin="anonymous">
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>LuxeGifts</h4>
            <p>Creating personalized gift experiences since 2020</p>
            <div class="social-links">
                <a href="https://facebook.com" title="Facebook" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://instagram.com" title="Instagram" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com" title="Twitter" target="_blank">
                    <i class="fab fa-x-twitter"></i>
                </a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="products">Products</a></li>
                <li><a href="customize">Customize</a></li>
                <li><a href="about">About Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Customer Service</h4>
            <ul>
                <li><a href="contact/">Contact Us</a></li>
                <li><a href="#" id="privacyLink">Privacy Policy</a></li>
                <li><a href="#" id="termsLink">Terms & Conditions</a></li>
                <li><a href="#" id="returnsLink">Returns Policy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contact Info</h4>
            <p>Email: info@luxegifts.com</p>
            <p>Phone: +91 1234567890</p>
            <p>Address: 123 Gift Street, NY 10001</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 LuxeGifts. All rights reserved.</p>
    </div>
</footer>
