:root{
    --bg: #1e272e;
    --text: #ffffff;
    --color: #b5daff;
    --ahover: #485460;
    --chover: #ffffff;
    --active: #575fcf;
}
body.dark{
    --bg:#95bad5;
    --text: #000000;
    --color: #002a55;
    --ahover: #3387dc;
    --chover: #000000;
    --active: #c2c6fd;
}
.sidebar {
    width: 240px;
    height: 100vh;
    background: var(--bg);
    color: var(--text);
    padding: 25px 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}
.sidebar-title {
    margin-bottom:10px;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
a {
    color: var(--color);
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 10px;
    transition: background 0.3s, color 0.3s;
}
a:hover {
    background: var(--ahover);
    color: var(--chover);
}
a.active {
    background: var(--active);
    color: var(--chover);
}
.sidebar-footer {
    margin-top: auto;
    border-top: 1px solid var(--ahover);
    padding-top: 15px;
    text-align: center;
}
.sidebar-footer .user {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #dcdde1;
}
.logout {
    color: #ff6b6b;
}