* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.content{
    margin-left: 240px;
    padding: 20px;
}
.messages {
    margin-bottom: 20px;
}
.alert {
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.alert.success {
    background: #dff9fb;
    color: #130f40;
}
.alert.error {
    background: #ffcccc;
    color: #900;
}
