.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 14px;
  border-radius: 12px;
  border: none;
  background: #7b5cff;
  color: #fff;
  cursor: pointer;
}
